$default-theme: (
    primary-color: #2748b3,
    primary-background-color: #000,
    heading-color: #6b8eff,
    code-background-color: #000,
);

$red-theme: (
    primary-color: #ff6865,
    primary-background-color: #000,
    heading-color: #ff0500,
    code-background-color: white,
);

$blue-theme: (
    primary-color: #259FED,
    primary-background-color: #242526,
    heading-color: #183efa,
    code-background-color: #d3d3d3,
);