
$font-stack: "Space Mono", monospace;
$padding: 16px;
$margin: 16px;

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $primary-background-color;
    margin: 0*$margin;
    padding: 0*$padding;
    background-image: radial-gradient(
        #fff,
        rgba(255, 255, 255, 0.2) 2px,
        transparent 40px
      ),
      radial-gradient(#fff, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
      radial-gradient(#fff, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
      radial-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1) 2px,
        transparent 30px
      );
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    background-attachment: fixed;

    #buttons {
        text-align: center;
    }
    	
    .button {
        padding: 0.625*$padding;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
    }

    /* #red-button, #red-button:visited { */    
    #red-button:link, #red-button:visited {
        background-color: red;
        border-color: red;
        color: white;
    }

    #red-button:hover {
        background-color: white;
        border-color: white;
        color: red;
    }
    
    /* #blue-button, #blue-button:visited { */
    #blue-button:link, #blue-button:visited {
        background-color: blue;
        border-color: blue;
        color: white;
    }

    #blue-button:hover {
        background-color: white;
        border-color: white;
        color: blue;
    }
  
    @mixin box-shadow {
        -webkit-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
        box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    }

    article {
        display: flex;
        flex-wrap: wrap;

        section {
            flex-grow: 1;
            flex-basis: 45%;
            border: 1px silver solid;
            @include box-shadow;
            padding: 1*$padding;
            margin: 1*$margin;
            clear: both;
            overflow: auto;
            box-sizing: border-box;

            #selling-points {
                flex-grow: 2;
                flex-basis: 100%;
            }
        }

        pre {
            background: $code-background-color;
            border: 1px solid #ddd;
            color: #666;
            font-family: monospace;
            font-size: 15px;
            line-height: 1.6;
            margin-bottom: 1.6em;
            max-width: 100%;
            overflow: auto;
            padding: 1*$padding;
            display: block;
            white-space: pre-wrap;
        }

        pre.before {
            float: left;
            width: 40%;
        }

        pre.after {
            float: right;
            width: 40%;
        }
    }
  
    h1,
    h2,
    h6 {
        color: $heading-color;
    }
    
    h1 {
        text-align: center;
    }
    
    h6 {
        text-align: center;
        font-size: 2em;
        padding: 2*$padding;
        margin-bottom: 0*$margin;
    }

    %message-style {
        border: 1px solid #ccc;
        padding: 1*$padding;
        margin: 1*$margin;
        color: #2748b3;
    }
    
    .message {
        @extend %message-style;
        background-color: #000;
    }
    
    .success {
        @extend %message-style;
        background-color: green;
    }
    
    .error {
        @extend %message-style;
        background-color: red;
    }
    
    .warning {
        @extend %message-style;
        background-color: orange;
    }

}