@use 'colors' as *;
@use 'general';

$primary-color: map-get($default-theme, "primary-color");
$primary-background-color: map-get($default-theme, "primary-background-color");
$heading-color: map-get($default-theme, "heading-color");
$code-background-color: map-get($default-theme, "code-background-color");

/* CSS style that should be updated */

body {
    color: $primary-color;
    background-color: $primary-background-color;

    article {
        pre {
            background: $code-background-color;
        }
    }

    h1,
    h2,
    h6 {
        color: $heading-color;
    }

}